*{
    margin: 0;
    padding: 0;
}

.justify{
    margin: 0 auto;
    max-width: 1600px;
}


.first-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
   
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left h1{
    font-size: 80px;
}
.left p{
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 10px;
}

.section-title{
    font-size: 50px;
    padding: 50px 0;
}

.collection{
    background-color: #f7f7f7;
   padding: 10px;
}
.collection-banner{
    width:100%;
}




.button{
    padding: 15px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
}

/*------------------------
   collections style
---------------------------*/  
h2{
    text-align: center;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px; 
    
} 

.collection{
    margin: 10px 0;
    border-radius: 5px;;
} 
.collection-banner img{
    width: 100%;
    
}
.collection-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font: size 16px;
}
.fa-star.filled{
    color: #FB8200
}

.fa-star.empty{
    color: #AEAAEA;
}
.footer{
    text-align: center;
    background-color:black;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* Media Queries */
@media only screen and (max-width: 950px) {
    .first-section{
        grid-template-columns: 1fr ;
    }
    .collections{
        grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width: 700px) {
    
    .collections{
        grid-template-columns: 1fr;
    }
  }